#container {
  margin: 0 auto;
  width: 400px;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.picture {
  border: 5px inset rgb(212, 145, 13);
  width: 300px;
  height: 100px;
}

#text {
  background-color: yellow;
  width: 300px;
  height: 200px;
  border-style: dashed;
  border-width: 7px;
  border-color: orange;
  overflow: auto;
}

#important {
  font-weight: bold;
  text-decoration: underline;
}

#moretext {
  font-weight: normal;
  text-decoration: none;
}
